body{
	background-color: grey;
	font-family: arial,sans-serif;
	margin: 20px;
	line-height: 1.6;
}

nav ,ul{
	display: flex;
	gap: 15px;
	list-style: none;
	padding: 0;
}

nav a{
	text-decoration:none;
	color:#333
}

img{
	width: 200px;
	border-radius: 20px;
	margin: 15px 0;
}